

.form-group{
    .inner-group{
        small{
            visibility: hidden;
        }

        small.active{
            visibility: visible;
            
        }
    }
}


#message_div{
    background: rgba($color: #000000, $alpha: .5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(0);
    transition: all .5s ease-in-out;
    z-index: 100;

    .msg{
        background-color: #FFFFFF;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #d35;
    }

}

#message_div.active{
    transform: scale(1);
}